{% include "topo.html"%}


<div class="container">

  <div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-body">
	  <div class="progress progress-striped active">
	    <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
	      <span class="sr-only">Resumindo...</span>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>


<div class="resumeai-esquerda">
  <!--	<h2>ResumeAí!</h2> -->
  <p class="lead"> Um jeito preguiçoso de ler notícias.</p>
  <form method="POST" id="txtform" action="/resumeai/api/">
    <textarea class="txtarea" name="txt"></textarea><br/>
  </form>
  <button id="btn-resume">Resume aí!</button>
</div>
<div class="resumeai-direita">
</div>

</div><!-- /.container -->


{% include "rodape.html" %}
