{% include "topo.html" %}

<div class="container">
  <div class="trends col-md-2">
    <strong>Trend Topics</strong><br/><br/>
    {% for t in trends %}
      <a href="/lista/{{t[1]}}">{{t[1]}}</a><br/>
    {% endfor %}
  </div>
  <div class="lista-container col-md-10">
    {% for c in conteudos %}
      <div class="resumeai-lista">
	<h4>{{c.titulo|safe}}</h4>
	<img src="{{c.imagem}}" />
	<p>publicado em: {{c.publicacao.strftime('%d/%m/%Y')}} às {{c.publicacao.strftime('%H:%M')}}</p><br/>
	{{c.resumo|safe}} <br/>
	<a href="{{c.url}}">Ver texto completo</a><br/><br/>

	<strong>Site: </strong> <a href="/site/{{c.site}}">{{c.site}}</a><br/>
	<strong>Principais entidades: </strong>
	{% for e in c.entidades %}
	  <a href="/lista/{{e}}">{{e}}</a>,&nbsp;
	{% endfor %}
	<br/>
	<a href="/resumo/{{c.url}}">Permalink do resumo</a><br/>

      </div>
      {% endfor %}
  </div>

  <div class="paginacao">
    {% if anterior %}
     <h4><a href="?pagina={{pagina_anterior}}">« anterior</a></h4>
    {% endif %}

    {% if proximo %}
      <h4><a href="?pagina={{proxima_pagina}}">» próxima</a></h4>
    {% endif %}
  </div>

</div><!-- /.container -->

{% include "rodape.html" %}
