
.txtarea{
    min-width: 100%;
    min-height: 300px;
}

.resumeai-direita,
.resumeai-esquerda{
    float: left;
    width: 50%;
    margin-top:60px;
    padding-left: 20px;
}

.resumeai-lista{
    margin-top:60px;
    padding-bottom: 10px;
    border-bottom: #ccc  1px solid;
}

.paginacao{
    text-align: justify;
}

.paginacao h4{
    float:left;
    padding: 10px;
}

.trends{
    margin-top:60px;
    position: fixed;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.lista-container{
    float: right;
}
